	<div *ngIf="isCharacterDefined()" class="row ">
		<div class="col-md-12">
			<div class="card-deck mt-5 mb-5">
				<div class="card bg-dark card-max-width card-center">
					<figure class="text-center figure-size">
						<img src="{{character.img}}" [ngClass]="setClassDeadOrAlive(character?.status)"  class="image-full text-center figure mb-3 mt-3 rounded">
					</figure>
					<div class="card-body text-white p-5">
						<div class="row">
							<p class="col-md-12">This is</p>
						</div>
						<div class="row">
							<h2 class="col-md-12" id="character_name">{{character?.name}}</h2>
						</div>
						<div class="row">
							<p class="col-md-12">more know as</p>
						</div>
						<div class="row">
							<h2 class="col-md-12" id="character_nick_name"> {{character?.nickname}}</h2>
						</div>
						<div class="row">
							<p class="col-md-12">their occupations are</p>
						</div>
						<div class="row">
							<ul class="col-md-12 display-block">
								<li class="display-block" *ngFor="let ocupation of character?.occupation">
								<h3 id="character_occupation">{{ocupation}}</h3>
								</li>
							</ul>
						</div>
						<div class="row">
							<p class="col-md-12">in this moment we know that is</p>
						</div>
						<div class="row">
							<h2 class="col-md-12" id="character_status">{{character?.status}}</h2>
						</div>
						<div class="row">
							<div class="mt-3 col-md-12 text-center">
								<button type="button" id="back" [routerLink]="['/']" class="btn btn-light btn-lg">Back</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row center-content" *ngIf="!isCharacterDefined()">
		<div class="col-md-12 color-white">
			<h1>
				{{infoMessage}}
			</h1>
		</div>
	</div>
