
  /* You can add global styles to this file, and also import other style files */
body
  width: 100%
  height: 100vh
  margin: 0 auto
  flex-direction: column
  justify-content: center
  background-image: linear-gradient(-55deg, rgba(50,45,55,1) 0%, rgba(101,96,106,1) 100%)

.color-white
    color: white

.alive
    opacity: 100%

.dead
    opacity: 40%
