<div *ngIf="isCharactersLoaded()" class="row mt-5 mb-5">
  <div class="col-md-3 mt-3" *ngFor="let item of characters">
      <div class="card-deck">
            <div class="card card-pointer" [routerLink]="['/character-detail', item?.char_id]">
				<figure class="text-center">
					<img src="{{item.img}}" [ngClass]="setClassDeadOrAlive(item?.status)"  class="card-img-top figure mb-3 mt-3 rounded">
				</figure>
				<div class="card-body">
					<h5 class="card-title">{{item.name}}</h5>
					<p class="card-text">{{item.status}}</p>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="row center-content" *ngIf="!isCharactersLoaded()">
	<div class="col-md-12 color-white">
		<h1>
			{{infoMessage}}
		</h1>
	</div>
</div>
